<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Jakarta Linux Users Group</title>
    <link rel="stylesheet" href="/css/jktlug.css" type="text/css" />
  </head>

  <body>
    <div id="top">
      <div id="lang_options">
        <p>| <a href="/index.html">English</a> |</p>
      </div>

      <div id="logo">
        <a href="/"><img src="/images/logo.png" alt="logo" /></a>
      </div>

      <h1 id="header">
        Jakarta Linux Users Group
      </h1>
    </div>

    <div id="menu">
      <div class="items">
        <div id="general_menu">
          <h2>General</h2>
          <ul>
            <li><a href="/wiki/">Wiki</a></li>
            <li><a href="/wiki/JKTLUG:Organization">Organization</a></li>
          </ul>
        </div>

        <div id="meetings_menu">
          <h2>Meetings</h2>
          <ul>
            <li><a href="/wiki/Current_Meeting">Next Meeting</a></li>
            <li><a href="/wiki/Meetings">Past Meetings</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content">
      $body$
    </div>

    <div id="footer">
      <div id="copyright">
        <p>Homepage of the Jakarta Linux Users Group.<br />
        All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
