<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Jakarta Linux Users Group</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/JKTLUG.css" type="text/css" />
        <link rel="stylesheet" href="/css/common.css" type="text/css" />
    </head>

    <body>
        <div id="top">
            <div id="lang_options">
                <p>| <a href="/index.html">English</a> |</p>
            </div>
        </div>

        <div id="menu">
            <div class="items">
                <div id="logo">
                    <img src="/images/JKTLUG.png" alt="JKTLUG Logo" id="header-logo" />
                </div>
                <div id="general_menu">
                    <h2>General</h2>
                    <ul>
                        <li><a href="/wiki/Main_Page.html">Wiki</a></li>
                        <li>
                            <a href="/wiki/JKTLUG:Organization.html"
                                >Organization</a
                            >
                        </li>
                    </ul>
                </div>

                <div id="meetings_menu">
                    <h2>Meetings</h2>
                    <ul>
                        <li>
                            <a href="/wiki/Current_Meeting.html">Next Meeting</a>
                        </li>
                        <li><a href="/wiki/Meetings.html">Past Meetings</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">$body$</div>

        <div id="footer">
            <div id="copyright">
                <p>
                    Homepage of the Jakarta Linux Users Group.<br />
                    All rights reserved.
                </p>
            </div>
        </div>
    </body>
</html>
